{block title}
    Stránka nenalezena
{/block}

{block navigace}
    <a href="#">Error</a> » Stránka nenalezena
{/block}

{block content}
<p class="error">Je nám líto, ale požadovaná stránka není k dispozici. 
    Je možné, že byla odstraněna, přejmenována nebo není dočasně dostupná. Je rovněž možné, 
    že jste udělali chybu v URL adrese.</p>

<p class="error"><small>error 4O4</small></p>
{/block}

