{block title}
    Neznámá chyba
{/block}

{block navigace}
    <a href="#">Error</a> » Neznámá chyba
{/block}

{block content}
<p class="error">Nastala blíže nespecifikovaná chyba. Zkuste načíst stránku později a pokud problémy přetrvají, kontaktujte prosím administrátora.</p>

<p class="error"><small>error 4xx</small></p>
{/block}
