{block title}
    Stránka skončila
{/block}

{block navigace}
    <a href="#">Error</a> » Stránka skončila
{/block}

{block content}
<p class="error">Požadovaná stránka již není a v budoucnu nebude nadále přístupná.</p>

<p class="error"><small>error 410</small></p>
{/block}
