{block title}
    Neočekávaná chyba
{/block}

{block navigace}
    <a href="#">Error</a> » Neočekávaná chyba
{/block}

{block content}
<p class="error">V aplikaci došlo k neočekávané chybě. Zkuste stránku načíst později a pokud potíže přetrvají, 
kontaktujte prosím administrátora.</p>

<p class="error"><small>error 500</small></p>
{/block}
