{block titulek}
    Přihlášení
{/block}

{block navigace}
    Přihlášení
{/block}

{block content}
    <div class="login"> 
        {control loginForm}
    </div>
{/block}

{block head}
<style>
    #content table { margin: 1em auto; }
</style>
{/block}